@import url(asciidoctor.css);

body {
    font-family: "Open Sans";
}

#toc {
    border-bottom: none;
}

a {
    text-decoration: none !important;
}

body.toc2 #header > h1:nth-last-child(2){
    border-bottom: 0;
}

.sect1, .sect1 + .sect1 {
    border-top: 1px solid #aaa;
}

h1, h2, h3, #toctitle, .sidebarblock > .content > .title, h4, h5, h6 {
    margin-top: 3rem;
}

#toctitle {
    visibility: hidden;
    margin-top: 0;
}

h2 {
    font-weight: bold;
}

.imageblock img {
    box-shadow: 0 1px 4px #e0e0dc;
}

html, body {
    font-size: 16px;
}

iframe{
    min-width: 900px !important;
}

pre.rouge table.linenotable{
    border: 0;
    margin-bottom: 0;
    background: transparent;
}

pre.rouge table td{
    padding: 0px !important;
}

pre.rouge table td.linenos{
    border-right: 1px solid white;
}

.listingblock pre.rouge code pre {
    border-radius: 0 !important;
}

#toctitle{
    display: none;
}

#toc .sectlevel1 > li {
    margin-top: 1rem;
    list-style-type: none;
}

a[href^="#_übung"]::after{
    content: "";
    float: right;
    width: 10px;
    height: 14px;
    margin-right: 5px;
    background: url(media/pencil.png) no-repeat center center;
    background-size: 100%;
    opacity: 0.5;
}

#toc a.in-view{
    font-weight: bold;
}

.source-code-link {
    display: block;
    margin-top: -0.5em;
}

details > summary.title{
    color: #2156a5;
    text-decoration: underline;
    cursor: pointer;
}

details[open] > summary {
    margin-bottom: 1em;
}

#footer a{
    color: white;
}